/* Global layouting */

html{
    scroll-behavior: smooth;
}

header {
    flex-wrap: wrap;
}

body {
    background-color: #504A57;
    flex-wrap: wrap;
    background-image: url("../media/images/Nuit.jpg");
    background-repeat: no-repeat;
    margin: 0
}

h1 {
    font-family: "Sylfaen", sans-serif;
    margin-left: 525px;
    margin-top: 100px;
    color: #ffffff;
    font-size: 4.2em;
}

#Amorce {
    margin-left: 325px;
    color: #ffffff;
    -webkit-text-stroke: 0.5px black;
    font-size: 2em;
}

/*Rapproche la partie des projets personnels des projets en MMI*/

article {
    margin-top: -150px;
}


.projetMMI {
    background-color: #2D2A2F;
    color: #ffffff;
    font-family: "Sylfaen", sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 450px;
    margin-left: 585px;
    height: 50px;
    width: 350px;
}

.personnel{
    background-color: #2D2A2F;
    color: #ffffff;
    font-family: "Sylfaen", sans-serif;
    font-size: 2em;
    text-align: center;
    margin-left: 585px;
    margin-top: 250px;
    height: 50px;
    width: 350px;
}

.Section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Ce code permet d'espacer mes projets*/
.espace {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.projet {
    height: 450px;
    width: 350px;
}

.legende {
    background-color: #2D2A2F;
    color: #ffffff;
    text-align: center;
    font-family: "CENTURY";
}

/*Ce sont toutes les lignes blanches visibles sur le site*/
.ligne {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 1px;
    line-height: 80%;
    position: relative;
    margin-top: 45px;
}

/*Ce texte permet de gérer la position des boites en rapport avec la Mini bio, soit la rubrique Qui-suis-je*/

.Mini_bio{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.titre_profile{
    position: relative;
    font-family:"Sylfaen", sans-serif;
    font-size: 2em;
    margin-left: 100px;
    margin-top: 50px;
    background-color: none;
    color: #ffffff;
}

#profile{
    height: 500px;
    width: 400px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 30px;
}

/*C'est la forme qui contient le texte de la mini bio*/
#img_bio{
    position: absolute;
    justify-content: end;
    width: 900px;
    margin-left: 10.77%;
    margin-top: 80px;
}

/*C'est la mini bio*/

.titre_bio{
    position: relative;
    color: #ffffff;
    font-family: "Sylfaen", sans-serif;
    font-size: 2em;
    margin-top: 120px;
    margin-left: 300px;
    padding: 100px;
    padding: 0px;
}
.paragraphe{
    position: relative;
    color: #ffffff;
    font-family: "CENTURY";
    margin-top: 30px;
    width: 700px;
    margin-left: 300px;
    padding: 100px;
    padding: 0px;
}


.Formation{
    margin-top: -50px;
    margin-right: 0px;
}

.titre_Formation{
    position: relative;
    font-family:"Sylfaen", sans-serif;
    margin-left: 70px;
    margin-top: 100px;
    background-color: none;
    color: #ffffff;
}

#img_Formation{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 500px;
    margin-top: -40px;
}

/*C'est le texet dans le cadre*/
.Etude{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cadre{
    position: relative;
    border: solid;
    border-color: #ffffff;
    border-width: 2px;
    width: 320px;
    height: 300px;
    margin-top: 60px;
}

/*C'est la barre blanche qui est dans le cadre*/
.barre{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 2px;
    line-height: 80%;
    margin-top: 30px;
}

.Parcour{
    font-family:"CENTURY";
    text-align: center;
    color: #ffffff;
}

/*C'est le texet dans le cadre, sous la barre*/
.Lycee{
    font-family:"CENTURY";
    text-align: center;
    margin-top: 110px;
    color: #ffffff;
}

/*C'est le texet dans le cadre, sous la barre*/
.IUT{
    font-family:"CENTURY";
    text-align: center;
    margin-top: 90px;
    color: #ffffff;
}

.contact{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

/*liste les différents zone de texte*/
ul{
    list-style: none;
    color: #ffffff;
    font-family:"Sylfaen", sans-serif;

}

textarea{
    resize: none;
    font-family:"CENTURY";
    border-radius: 10px;
    width: 530px;
    height: 45px;
    font-size: 1em;
}

/*Agrandi la zone de texte pour envoyer un message*/
#Message{
    height: 170px;
}

#img_Contact{
    position: absolute;
    width: 650px;
    height: 450px;
    margin-top: 75px;
    margin-left: 19%;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 60px;
    margin-left: 370px;
    margin-top: 180px;
}

.logo_mail{
    position: relative;
    width: 90px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.coordonnées{
    font-family:"CENTURY";
    color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 60px;
    margin-left: 500px;
    margin-top: -50px;
}

.mail{
    margin-top: 80px;
    margin-bottom: 70px;
}

.pied{
    background-color: #2D2A2F;
    color: #ffffff;
    font-family:"CENTURY";
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reseau{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 60px;
    margin-top: 70px;
}